TEACH_DB_URL=
EMAIL_DISABLE=true
FRONTEND_URL=
GOOGLE_CALLBACK_URI=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
JWT_SECRET=
NODE_ENV=
PORT=
PURE_API_BASE_URL=
PURE_API_KEY=
REFRESH_TOKEN=
SENDER_EMAIL=
SESSION_SECRET=
